{% extends 'base.html' %}

{% block meta %}
<title>Pelayanan Dokter</title>
{% endblock meta %}

{% block content %}
<div class="h-screen rounded-2xl bg-gray-300 bg-op w-full p-2 ">
  <div class="flex justify-center h-full items-center">
  <form class="form-curhat" action="" method="POST" id="tembak_db">
    {% csrf_token %}
    <div class="flex justify-center">
      <div class=" bg-yellow-300 p-3 rounded-2xl">
        <div class="flex flex-col">
          <p class="flex justify-center">Pilih Dokter</p>
          {{form.dokter}}
        </div>
        <div>
          <p class="flex justify-center">Isi Keluhan</p>
          {{form.keluhan}}
        </div>
        <div class="flex flex-col">
          <p class="flex justify-center">Nomor Telepon</p>
          {{form.noHP}}
        </div>
      </div>
    </div>
    <div class="flex justify-center">
    <input class="p-2 m-2 bg-green-300 rounded-2xl " type="submit" value="Submit" class="button">
    </div>
  </form>
  </div>
</div>
<div class=" p-4 bg-gray-300 h-fit rounded-2xl my-2">
  <p class="font-bold text-2xl">Riwayat Pelayanan</p class="font-bold text-2xl">
    <div class="grid lg:grid-cols-4 md:grid-cols-3 gap-5 mt-8 sm:mt-5" id="logPesanan">
    </div>
</div>
{% endblock content %}



{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    let tab = '';
      $.ajax({
        url: "/pelayananDokter/show_log",
        type: "GET",
        dataType: "json",
        success: function(resp){
          console.log("Masuk doc ready")
          let counter = 0;
          for (let i of resp){
            counter += 1;
              let statusDokter = i.fields.status;
              let statusObat = i.fields.statusObat;
              mssgDokter = statusDokter ? `<p class="bg-green-200 w-fit rounded-2xl p-1">Selesai diperiksa</p>` : `<p class="bg-red-500 w-fit rounded-2xl p-1">Belum diperiksa</p>`
              mssgObat = statusObat ? `<p class="bg-green-200 w-fit rounded-2xl p-1">Obat dapat diambil</p>` : `<p class="bg-red-500 w-fit rounded-2xl p-1">Obat sedang diproses</p>`
              tab += `
              <div class="" id="${i.pk}div">
                            <div id="${i.pk}" class="bg-white rounded-2xl p-8 flex w-fit flex-col gap-2 hover:drop-shadow-2xl transition duration-300 ease-in-out">
                                <p class="text-center text-xl font-semibold">${counter}</p>
                                <p class="text-center text-xs">${i.fields.tanggal_janji.slice(0,10)} ${i.fields.tanggal_janji.slice(11,19)} </p>
                                <div class="flex m-2 p-2 justify-center">
                                    <div>
                                        <div class="transition-opacity bg-gray-600 bg-opacity-10 rounded-2xl p-2">
                                        <p class="break-all">${i.fields.dokter}</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                  <p>Status Konsultasi : ${mssgDokter} </p>
                                  <p>Status Obat : ${mssgObat   }</p>
                                </div>
                            </div>
                        </div>
                        `;
          };
          $('#logPesanan').append(tab);
          console.log();
        }
      })
  });

  $(document).on("submit", "#tembak_db", function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'pelayananDokter:tembakKeluhan' %}",
      data: {
        dokter: $("#id_dokter").find(":selected").val(),
        keluhan: $("#id_keluhan").val(),
        noHP: $("#id_noHP").val(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
      },
      dataType: "json",
      success: function () {
        alert("Data berhasil ditambahkan")
        window.location.href = "{% url 'pelayananDokter:addKeluhan' %}";
      },
    });
  });
</script>
{% endblock script %}