{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Pelayanan Apotek</title>
{% endblock meta %}

{% block content %}
<div class="container mx-auto px-8">
    <center>
    <div id="starter">
        <div class="w-full md:w-3/5 py-6">
            <img class="w-full md:w-4/5 z-50 object-right" src="https://user-images.githubusercontent.com/112607944/198461703-7d164868-f6d9-412e-af25-69fdd9a1da00.png" />
        </div>

        <div class="flex flex-col w-full md:w-2/5 justify-center text-center">
            <h1 class="my-4 text-5xl font-bold leading-tight">
                Apotek
            </h1>
        </div>
    </div>
        <button class="bg-yellow-300 hover:bg-yellow-800 text-gray-700 font-semibold hover:text-white py-2 px-4 border border-gray-500 hover:border-transparent rounded"	
        id = "lihat-obat" >Lihat Stock Obat</button>	
        <button class="bg-yellow-300 hover:bg-yellow-800 text-gray-700 font-semibold hover:text-white py-2 px-4 border border-gray-500 hover:border-transparent rounded"	
        id = "lihat-status-pasien">Lihat Status Resep</button>	
     
        <div class="flex flex-col">

            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                
                  <table class="min-w-full" id="table-obat-without-update">
                    <thead class="bg-white border-b">
                      <tr>
                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                          Nama Obat
                        </th>
                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                          Deskripsi
                        </th>
                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                          Harga
                        </th>
                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                          Status Obat
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                    
                        {% for obat in list_obat %} 	
                        <tr>	
                            <th class="text-sm font-medium text-black px-6 py-4 text-left">	
                                {{obat.nama_obat}}	
                            </th>	
                            <th class="text-sm font-medium text-black px-6 py-4 text-left">	
                                {{obat.description}}	
                            </th>	
                            <th class="text-sm font-medium text-black px-6 py-4 text-left">	
                                {{obat.harga}}	
                            </th>	
                            <th class="text-sm font-medium text-black px-6 py-4 text-left">	
                                {% if obat.status_obat %}	
                                    Tersedia	
                                {% else %} 	
                                    Tidak Tersedia	
                                {% endif %}	
                            </th>
                        </tr>	
                        {% endfor %}
                        
                    </tbody>
                  </table>
                </div>
          
            </div>
          </div>
        
    </center>
    <div class="min-h-screen gap-3 flex-wrap flex justify-center items-center" id="status-obat-pasien"> 
      <div class="grid grid-cols-1 gap-1 mx-auto place-items-center">
        {% if adalahPasien %} 
          {% if pasien.statusObat %} 
              <img class="w-96" alt = "sign" src="https://user-images.githubusercontent.com/112607944/199516939-09ff4022-a885-4fac-96d0-c46ff75cc15b.png">
              <h1 class="my-4 text-3xl font-bold leading-tight">
                Obat sudah bisa diambil 
              </h1>
          {% else %} 
              <img class="w-96" alt = "sign" src="https://user-images.githubusercontent.com/112607944/199516650-268a81d9-1352-48e3-928e-f5463c3a839d.png">
              <h1 class="my-4 text-3xl font-bold leading-tight">
                Maaf, obat belum bisa diambil 
              </h1>
          {% endif %}
        {% else %} 
          <img class="w-96" alt = "sign" src="https://user-images.githubusercontent.com/112607944/199516650-268a81d9-1352-48e3-928e-f5463c3a839d.png">
          <h1 class="my-4 text-3xl font-bold leading-tight">
              Anda tidak memiliki resep obat
          </h1>
        {% endif %}
      </div>

    </div>
</div>6
{% endblock content %}


{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#table-obat-without-update").hide();
    $("#status-obat-pasien").hide();

  $("#lihat-obat").click(function(){
    $("#status-obat-pasien").hide();
    $("#starter").hide(500);	
    $("#table-obat-without-update").toggle(800);	
  });	
  $("#lihat-status-pasien").click(function(){		
    $("#starter").hide(500);	
    $("#table-obat-without-update").hide();
    $("#status-obat-pasien").toggle(800);
  });
});
   </script>
   
{% endblock script %}