{% extends 'base.html' %}

{% block meta %}
<title>Pelayanan Apotek</title>
{% endblock meta %}

{% block content %}
<div class="container mx-auto px-8">
    <center>
    <div id="starter">
    <div class="w-full md:w-3/5 py-6">
        <img class="w-full md:w-4/5 z-50 object-right" src="https://user-images.githubusercontent.com/112607944/198461703-7d164868-f6d9-412e-af25-69fdd9a1da00.png" />
        </div>

    <div class="flex flex-col w-full md:w-2/5 justify-center text-center">
    <h1 class="my-4 text-5xl font-bold leading-tight">
        Apotek
      </h1>
    </div>
    </div>
    
    <button class="bg-yellow-300 hover:bg-yellow-800 text-gray-700 font-semibold hover:text-white py-2 px-4 border border-gray-500 hover:border-transparent rounded"
    id = "tambah-obat" >Update Data Obat</button>
    <button class="bg-yellow-300 hover:bg-yellow-800 text-gray-700 font-semibold hover:text-white py-2 px-4 border border-gray-500 hover:border-transparent rounded"
    id = "ubah-status-pasien">Ubah Status Pasien</button>
    
    

    
    <div id="add-obat">
        <form class="form-add-obat" action="" method="POST" id="form-add-obat">
            {% csrf_token %}
            <div class="flex justify-center">
              <div class=" bg-yellow-300 p-3 rounded-2xl">
                <div class="flex flex-col">
                  <p class="flex justify-center">Nama Obat</p>
                  <input class="form-control w-96 px-3 py-2 rounded-md border border-slate-400" type="text" placeholder="Nama obat"
                            name="nama_obat" id="nama_obat">
                </div>
                <div>
                  <p class="flex justify-center">Deskripsi</p>
                  <input class="form-control w-96 px-3 py-2 rounded-md border border-slate-400" type="text" placeholder="Deskripsi"
                            name="description" id="description">
                </div>
                <div class="flex flex-col">
                  <p class="flex justify-center">Harga</p>
                  <input class="form-control w-96 px-3 py-2 rounded-md border border-slate-400" type="text" placeholder="Harga"
                            name="harga" id="harga">
                </div>
              </div>
            </div>
            <div class="flex justify-center">
            <input class="p-2 m-2 bg-green-500 rounded-2xl hover:bg-green-700" type="submit" value="Submit" class="button">
            </div>
          </form>
         
     
        <div class="flex flex-col" id="tabel">

            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                
                  <table class="min-w-full" id="table-obat">
                    <thead class="bg-white border-b">
                      <tr>
                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                          Nama Obat
                        </th>
                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                          Deskripsi
                        </th>
                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                          Harga
                        </th>
                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                          Status Obat
                        </th>
                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                  </table>
                </div>
          
            </div>
          </div>
        
        

    </center>
    <div class="container px-5 py-24 mx-auto" id="daftar-pasien">
   
    <div class="flex flex-wrap -m-4 text-center">
        {% for user in list_pasien %}
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
          <div class="border-2 border-gray-600 px-4 py-6 rounded-lg transform transition duration-500 hover:scale-110">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
              <path d="M17 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2"></path>
              <circle cx="9" cy="7" r="4"></circle>
              <path d="M23 21v-2a4 4 0 00-3-3.87m-4-12a4 4 0 010 7.75"></path>
            </svg>
            <h2 class="title-font font-medium text-3xl text-gray-900">{{user.nama}}</h2>
            <p class="leading-relaxed">{{user.username}}</p>
            <div class="m-2">
                <a role='button' href="{% url 'pelayananApotek:change_status' user.id %}" 
                                class = "text-white bg-purple-600 px-3 py-1 rounded-md hover:bg-purple-700">Change Status</a>
                </div>
          </div>
        </div>
        
      {% endfor %}
      
    
  </div>
</div>
{% endblock content %}


{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
function show_data_obat() {
        $.ajax({
            url: "{% url 'pelayananApotek:show_obat_json' %}",
            type: "GET",
            dataType: "json",
            success: function(data){

            for (i of data){
                status = i.fields.status_obat ? "Tersedia" : "Tidak Tersedia";
                result = `
                <tr id="${i.pk}"><td>${i.fields.nama_obat}</td>
                    <td>${i.fields.description}</td>
                    <td>${i.fields.harga}</td>
                    <td id="status-obat-${i.pk}">${status}
                        <button class="bg-green-500 hover:bg-green-700 rounded-2xl p-2 text-white font-bold delete" onclick="change_status_obat(${i.pk})">
                        Ubah</button>
                    </td>
                    <td><button class="bg-red-500 rounded-2xl hover:bg-red-700 p-2 text-white font-bold delete" onclick="delete_obat(${i.pk})">
                        Remove</button></td></tr>`

                $("#table-obat tbody").prepend(result);
            }   
            },
            error: function(data) {
                console.log('Error')
            }
        })
};
function delete_obat(pk){
        $.ajax({
            url: `/pelayananApotek/delete_obat/${pk}`,
            csrfmiddlewaretoken: "{{ csrf_token }}",
            type: "DELETE",
            success: function(data) {
                $(`#${pk}`).remove()
            }
        })
    };
function change_status_obat(pk){
    $.ajax({
        url: `/pelayananApotek/change_status_obat/${pk}`,
        success: function(data) {
            status = data === "True" ? "Tersedia" : "Tidak Tersedia";
            $("#status-obat-"+pk).replaceWith(`<td id="status-obat-${pk}">${status}
                        <button class="bg-green-500 rounded-2xl p-2 text-white font-bold delete" onclick="change_status_obat(${pk})">
                        Ubah</button>`);
        }
    })
};
    
$(document).on("submit", "#form-add-obat", function (e){
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'pelayananApotek:add_obat' %}",
      data: {
        nama_obat: $("#nama_obat").val(),
        description: $("#description").val(),
        harga: $("#harga").val(),
        status_obat: $("#status_obat").val(),
        csrfmiddlewaretoken: "{{ csrf_token }}"
      },
      dataType: "json",
      success: function (data) {
        status = data.fields.status_obat ? "Tersedia" : "Tidak Tersedia";
        result = `
        <tr id="${data.pk}"><td>${data.fields.nama_obat}</td>
            <td>${data.fields.description}</td>
            <td>${data.fields.harga}</td>
            <td id="status-obat-${i.pk}">${status}
                <button class="bg-green-500 hover:bg-green-700 rounded-2xl p-2 text-white font-bold delete" onclick="change_status_obat(${i.pk})">
                        Ubah</button></td>
            <td><button class="bg-red-500 hover:bg-red-700 rounded-2xl p-2 text-white font-bold delete" onclick="delete_obat(${data.pk})">
                Remove</button></td></tr>`
        $("#table-obat tbody").prepend(result);
        alert("Data berhasil ditambahkan")
        $("#form-add-obat").each(function(){
        this.reset();
        });
      },
    });
  });

  $(document).ready(function () {
        show_data_obat();
    });

  $(document).ready(function(){
    $("#add-obat").hide();
    $("#daftar-pasien").hide();

  $("#tambah-obat").click(function(){
    $("#daftar-pasien").hide();
    $("#starter").hide(500);
    $("#add-obat").toggle(800);
  });
  $("#ubah-status-pasien").click(function(){
    $("#add-obat").hide();
    $("#starter").hide(500);
    $("#daftar-pasien").toggle(800);
  });
});
   </script>
   
{% endblock script %}