<nav class="flex items-center justify-between flex-wrap bg-yellow-300 bg-opacity-75 p-1 fixed w-full z-10 top-0">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <a href="{% url 'landing:index' %}">
            <span><img class="mr-3 h-6 sm:h-9" src="https://user-images.githubusercontent.com/112607944/199466373-48ea608a-8d42-4a07-a41a-a840cd8fbb76.png
            " alt="Logo"></span>
        </a>
    </div>

    <div class="block lg:hidden">
        <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-white hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </button>
    </div>

    <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block pt-6 lg:pt-0" id="nav-content">
        <ul class="list-reset lg:flex justify-end flex-1 items-center">
            <li class="mr-3">
                <!-- <a class="inline-block py-2 px-4 text-gray-600 no-underline hover:text-gray-200 no-underline" href="#">Pelayanan</a> -->
      <div class="">
        <div class="flex items-center ">
          <button class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline px-4 rounded flex items-center" id="menu-btn">Pelayanan
            <?xml version="1.0" ?><svg height="48" viewBox="0 0 48 48" width="40" xmlns="http://www.w3.org/2000/svg"><path d="M14 20l10 10 10-10z"/><path d="M0 0h48v48h-48z" fill="none"/></svg>
          </button>
        </div>
        <div class="bg-gray-200 hidden flex-col rounded mt-1 p-2 text-sm w-32 absolute" id="dropdown">
            <a href="{% url 'pelayananDokter:addKeluhan' %}" class="px-2 py-1 hover:bg-blue-300 rounded">Dokter</a>
            <a href="{% url 'operasi:show_jadwal_operasi' %}" class="px-2 py-1 hover:bg-blue-300 rounded">Operasi</a>
            <a href="{% url 'pelayananKonseling:addKonseling' %}" class="px-2 py-1 hover:bg-blue-300 rounded">Konseling</a>
        </div>
      </div>
            </li>
            <li class="mr-3">
              {% if statApo %}
                <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="{% url 'pelayananApotek:show_obat' %}">Apotek</a>
              {% else %}
                <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="{% url 'pelayananApotek:show_obat_selain_apoteker' %}">Apotek</a>
              {% endif %}

              </li>
            <li class="mr-3">
                <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="{% url 'pembayaran:show_data' %}">Pembayaran</a>
            </li>
    <li class="mr-3">
      <!-- pas udah masuk, didelete terus diganti tampilan -->
      {% if user == "" %}
                  <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" id="account" href="{% url 'landing:login' %}">Masuk</a>
      {% else %}
        <div class="flex items-center ">
          <button class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline px-4 rounded flex items-center" id="acc-btn">Hai, {{user}}!
            <?xml version="1.0" ?><svg height="48" viewBox="0 0 48 48" width="40" xmlns="http://www.w3.org/2000/svg"><path d="M14 20l10 10 10-10z"/><path d="M0 0h48v48h-48z" fill="none"/></svg>
          </button>
        </div>
        <div class="bg-gray-200 hidden flex-col rounded mt-1 p-2 text-sm w-32 absolute" id="acc-dropdown">
            {% if statDok %}
              <a href="{% url 'landing:menuPasien' %}" class="px-2 py-1 hover:bg-blue-300 rounded">Menu Pasien</a>
            {% endif %}
            {% if statApo %}
              <a href="{% url 'landing:logout' %}" class="px-2 py-1 hover:bg-blue-300 rounded">Konfirmasi Obat</a>
            {% endif %}
            {% if statAdm %}
              <a href="{% url 'landing:logout' %}" class="px-2 py-1 hover:bg-blue-300 rounded">Konfirmasi Pembayaran</a>
            {% endif %}

            <a href="{% url 'landing:logout' %}" class="px-2 py-1 hover:bg-blue-300 rounded">Logout</a>
        </div>
      {% endif %}
      </li>
        </ul>
    </div>
</nav>
