{% extends 'base.html' %}

{% block meta %}
{% load static %}
<title>Hello, world!</title>
{% load tailwind_tags %}
{% tailwind_css %}
{% endblock meta %}

{% block content %}
<div class=" rounded-xl bg-[url(hero.jpg)] bg-cover object-cover">
	
  <div class=" flex flex-col gap-8 p-20">
    <h1 class="lg:text-2xl text-lg  pl-2 bg-yellow-400 w-fit rounded-2xl p-2 text-black no-underline font-bold">UI Health Care</h1>
    <div class=" bg-slate-600 bg-opacity-40 w-fit rounded-2xl">
      <p class="text-white p-10 text-xs lg:text-xl md:text-lg">Buat Janji Mudah dan Cepat</br>
        Layanan Booking Dokter Terbaik di Indonesia</p>
    </div>
    <div class="">
      <a href="{% url 'pelayananDokter:addKeluhan' %}">
        <button type="button"
            class="focus:outline-none font-bold text-black bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300  rounded-lg lg:text-sm text-xs p-2 dark:focus:ring-yellow-900">
          Daftar Berobat
        </button>
      </a>
      <a href="{% url 'pelayananKonseling:addKonseling' %}">
        <button type="button"
            class="focus:outline-none font-bold text-black bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 rounded-lg lg:text-sm text-xs p-2 dark:focus:ring-yellow-900">
          Daftar Konseling
        </button>
      </a>
    </div>
  </div>
		
	<!-- <div class="row-span-6 col-span-2">
		<img class="object-cover h-full w-full rounded-r-lg" src='{% static "/test1.svg" %}' alt="home"/>
	</div> -->

</div>

{% endblock content %}


{% block script %}
<script>
</script>
{% endblock script %}