{% extends 'base.html' %}

{% block meta %}
{% load static %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
<div class="h-fit rounded-xl bg-gray-300 grid grid-rows-6 grid-flow-col gap-10">
	
    <div  class="row-start-3 col-start-2 row-span-1 flex items-center justify-center">
      <span class="text-2xl pl-2 text-gray-600 no-underline font-bold flex justify-center items-center">UI Health Care</span>
    </div>

    <div class="row-start-4 row-span-1 col-start-2 flex items-center justify-center">
      <a href="{% url 'pelayananDokter:addKeluhan' %}">
        <button type="button"
            class="focus:outline-none text-black bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900">
          Daftar Berobat
        </button>
      </a>
      <a href="{% url 'pelayananKonseling:addKonseling' %}">
			<button type="button"
					class="focus:outline-none text-black bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900">
				Daftar Konseling
			</button>
		</a>
	

    </div>

		
	<div class="row-span-6 col-span-2">
		<img class="object-cover h-full w-full rounded-r-lg" src='{% static "/test1.svg" %}' alt="home"/>
	</div>

</div>

{% endblock content %}


{% block script %}
<script>
</script>
{% endblock script %}