{% load static tailwind_tags %}
{% tailwind_css %}
<title>Registrasi Akun</title>
<div class="">
  <nav class="flex items-center justify-between flex-wrap bg-yellow-300 bg-opacity-75 p-1 fixed w-full z-10 top-0">
		<div class="flex items-center flex-shrink-0 text-white mr-6">
			<a class="text-white no-underline hover:text-white hover:no-underline" href="{% url 'landing:index' %}">
				<span class="text-2xl pl-2 text-gray-600 no-underline hover:text-gray-200 font-bold"></i>UI Health Care</span>
			</a>
		</div>

		<div class="block lg:hidden">
			<button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-white hover:border-white">
				<svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
			</button>
		</div>

		<div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block pt-6 lg:pt-0" id="nav-content">
			<ul class="list-reset lg:flex justify-end flex-1 items-center">
				<li class="mr-3">
					<!-- <a class="inline-block py-2 px-4 text-gray-600 no-underline hover:text-gray-200 no-underline" href="#">Pelayanan</a> -->
          <div class="">
            <div class="flex items-center ">
              <button class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 rounded flex items-center" id="menu-btn">Pelayanan
                <?xml version="1.0" ?><svg height="48" viewBox="0 0 48 48" width="40" xmlns="http://www.w3.org/2000/svg"><path d="M14 20l10 10 10-10z"/><path d="M0 0h48v48h-48z" fill="none"/></svg>
              </button>
            </div>
            <div class="bg-gray-200 hidden flex-col rounded mt-1 p-2 text-sm w-32 absolute" id="dropdown">
                <a href="#" class="px-2 py-1 hover:bg-blue-300 rounded">Dokter</a>
                <a href="#" class="px-2 py-1 hover:bg-blue-300 rounded">Operasi</a>
                <a href="#" class="px-2 py-1 hover:bg-blue-300 rounded">Konseling</a>
            </div>
          </div>
				</li>
				<li class="mr-3">
					<a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="#">Apotek</a>
				</li>
				<li class="mr-3">
					<a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="#">Pembayaran</a>
				</li>
                <li class="mr-3">
                    <!-- pas udah masuk, didelete terus diganti tampilan -->
			        <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" id="account" href="{% url 'landing:login' %}">Masuk</a>
                </li>
			</ul>
		</div>
	</nav>
  <div class="flex justify-center mt-[15%]">
    <div class=" bg-yellow-300 rounded-2xl p-3">
      <div class="text-4xl font-bold text-black text-center">Register</div>
      <div class="lg:w-64 mt-6">
        <form method="POST" action="">
          {% csrf_token %}
          <div>
            <label class="block">
              <span
                class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-500"
              >
                {{ form.username.label }}
              </span>
              <input
                type="text"
                name="username"
                class="mt-1 px-3 py-2 bg-[#2d3748] border shadow-sm border-slate-600 placeholder-slate-400 focus:outline-none focus:border-[#4a9ebd] focus:ring-[#4a9ebd] block w-full rounded-md sm:text-sm focus:ring-1 text-slate-300"
                placeholder="Username"
              />
              {% if form.username.errors %}
              <div class="mt-2 text-red-500 text-sm">
                {{form.username.errors }}
              </div>
              {% endif %}
            </label>
            <label class="block mt-1">
              <span
                class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-500"
              >
                {{ form.password1.label }}
              </span>
              <input
                type="password"
                name="password1"
                class="mt-1 px-3 py-2 bg-[#2d3748] border shadow-sm border-slate-600 placeholder-slate-400 focus:outline-none focus:border-[#4a9ebd] focus:ring-[#4a9ebd] block w-full rounded-md sm:text-sm focus:ring-1 text-slate-300"
                placeholder="Password"
              />
              {% if form.password1.errors %}
              <div class="mt-2 text-red-500 text-sm">
                {{form.password1.errors}}
              </div>
              {% endif %}
            </label>

            <label class="block mt-1">
              <span
                class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-500"
              >
                {{ form.password2.label }}
              </span>
              <input
                type="password"
                name="password2"
                class="mt-1 px-3 py-2 bg-[#2d3748] border shadow-sm border-slate-600 placeholder-slate-400 focus:outline-none focus:border-[#4a9ebd] focus:ring-[#4a9ebd] block w-full rounded-md sm:text-sm focus:ring-1 text-slate-300"
                placeholder="Confirm Password"
              />
              {% if form.password2.errors %}
              <div class="mt-2 text-red-500 text-sm">
                {{ form.password2.errors }}
              </div>
              {% endif %}
            </label>
          </div>
          <button
            type="submit"
            name="submit"
            class="rouned-lg bg-black w-full bg-opacity-80 h-10 text-slate-100 mt-4 font-bold"
          >
            Daftar
          </button>
        </form>
        <div class="mt-4 text-center text-black font-semibold">
          Sudah punya akun? 
          <a
            href="{% url 'landing:login' %}"
            class="underline underline-offset-2"
          >
            Masuk
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  //Javascript to toggle the menu\
    document.getElementById('nav-toggle').onclick = function(){
      document.getElementById("nav-content").classList.toggle("hidden");
    }
  
    window.addEventListener('DOMContentLoaded', ()=> {
      const menuBtn = document.querySelector('#menu-btn')
      const dropdown = document.querySelector('#dropdown')
      const accBtn = document.querySelector('#acc-btn')
      const accdropdown = document.querySelector('#acc-dropdown')
      
      menuBtn.addEventListener('click', () => {
        /* if(dropdown.classList.contains('hidden')){
            dropdown.classList.remove('hidden');
            dropdown.classList.add('flex');
        }else{
            dropdown.classList.remove('flex')
            dropdown.classList.add('hidden')
        } */
        dropdown.classList.toggle('hidden')
        dropdown.classList.toggle('flex')
      })
  
      accBtn.addEventListener('click', () => {
        /* if(dropdown.classList.contains('hidden')){
            dropdown.classList.remove('hidden');
            dropdown.classList.add('flex');
        }else{
            dropdown.classList.remove('flex')
            dropdown.classList.add('hidden')
        } */
        accdropdown.classList.toggle('hidden')
        accdropdown.classList.toggle('flex')
      })
    })
  </script>