{% extends 'base.html' %}

{% block content %}

<title>Pembayaran</title>
{% load static %}
<link rel="stylesheet" href="{% static './pembayaran.css' %}">

<div class="pembayaran">
    <div class="container my-3">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-7" id="mother">
                    <div class="card shadow">
                        <div class="card-body">
                            <h6 class="heading">Details</h6>
                            <hr>
                            <div class="row checkoutform" id="data">
                                    <div class="col-md-6">
                                    <label>First Name</label>
                                    <input type="text" name="fname" required class="form-control" placeholder="Enter first name">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Last Name</label>
                                        <input type="text" required class="form-control" name="lname"  placeholder="Enter last name">
                                    </div>
                                    <div class="col-md-6 mt-2">
                                    <label>Email</label>
                                    <input type="email" required class="form-control" name="email" placeholder="Enter Email">
                                    </div>
                                    <div class="col-md-6 mt-2">
                                        <label>Phone</label>
                                        <input type="text" required class="form-control"  name="phone" placeholder="Enter Phone">
                                    </div>
                                    <div class="col-md-12 mt-2">
                                        <label>Adress</label>
                                        <textarea required class="form-control" name="adress" placeholder="Enter Adress"></textarea>
                                    </div>
                                    <div class="col-md-6 mt-2">
                                        <label>City</label>
                                        <input type="text" required class="form-control" name="city"  placeholder="Enter City">
                                    </div>
                                    <div class="col-md-6 mt-2">
                                        <label>Province</label>
                                        <input type="text" required class="form-control" name="province" placeholder="Enter Province">
                                    </div>
                                    <div class="col-md-6 mt-2">
                                        <label>Country</label>
                                        <input type="text" required class="form-control" name="country" placeholder="Enter Country">
                                    </div>
                                    <div class="col-md-6 mt-2">
                                        <label>Postal Code</label>
                                        <input type="text" required class="form-control" name="postalcode"  placeholder="Enter Postal Code">
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-5">
                    <div class="card shadow">
                        <div class="card-body">
                            <h6 class="heading">Order Summary</h6>
                                <hr>
                                <!-- gaada cart -->
                                <table class="table table-stripeds table-bordereds" id="table">
                                    <thead>
                                        <tr class="thead">
                                            <th class="product">Product</th>
                                            <th class="qty">Qty</th>
                                            <th class="price">Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- gaada cart gabisa loop? -->
                                        <!-- gabisa handle cart empty -->
                                        <tr>
                                            <td>{{ item.product.name }}</td>
                                            <td>{{ item.product.qty }}</td>
                                            <td>{{ item.product.selling_price | stringformat:'d' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h6 class="fw-bold">Grand Total
                                    <span class="float-end"> Rp {{ total_price | stringformat:'d' } </span>
                                </h6>
                                <input type="hidden" value="COD" name="payment_mode">
                                <div class="mt-3">
                                    <button type="submit" class="btn btn-succes w-100">Place order</button>
                                    <div>

                                    </div>
                                </div>
                        </div>
                    </div>
                </div>  
            </div>
        </form>
    </div>
</div>
{% endblock content %}